.header {
  display: flex;
  background-color: #ffe5e7;
}

.headerContent {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.headerContent h1 {
  font-family: var(--font-family);
  font-size: 40px;
}

.headerContent p {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 300;
}

.headerImg {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerImg img {
  width: 100%;
  height: 100%;
}

.getStarted {
  display: flex;
  justify-content: space-between;
}

.getStarted1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 3rem;
}

.getStarted2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 3rem;
}

.getStarted p {
  background-color: #f8f8f8;
  text-align: center;
  font-family: var(--font-family);
  font-size: 13px;
  font-weight: 300;
  padding: 10px 10px;
  height: 80%;
  width: 160px;
  display: flex;
  align-items: center;
}

.getStarted1 p {
  border-top: 2px solid var(--color-secondary);
  border-right: 2px solid var(--color-secondary);
}

.getStarted2 p {
  border-bottom: 2px solid var(--color-secondary);
  border-left: 2px solid var(--color-secondary);
}

.feature {
  display: flex;
  margin: 2rem 0;
}

.featureContent {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  padding: 0 2rem;
  position: relative;
}

.featureContent h1 {
  font-family: var(--font-family);
  font-size: 24px;
}

.featureContent p {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 300;
}

.featureContent button {
  font-family: var(--font-family);
  background: var(--color-secondary) !important;
  width: 180px;
  color: white !important;
  font-weight: 700;
}

.featureImg {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.featureImg img {
  width: 100%;
  height: 100%;
}

.thanks {
  width: 100%;
  background-color: #ff5cd1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem 1rem;
  margin: 3rem 0;
  border-radius: 5px;
}

.thanks img {
  margin: 0.5rem 0;
}

.thanks h1 {
  font-size: 24px;
  color: white;
  text-align: center;
}

.footer {
  width: 100%;
  background-color: black;
  height: 3rem;
}

@media screen and (max-width: 950px) {
  .header {
    flex-direction: column;
  }

  .headerContent {
    margin-top: 1rem;
  }

  .headerContent p {
    margin: 1rem 0;
  }

  .getStarted {
    flex-direction: column;
  }

  .getStarted1 {
    justify-content: center;
  }

  .getStarted2 {
    justify-content: center;
  }

  .getStarted p {
    height: 300px;
    width: 300px;
    font-size: 18px;
  }

  .getStarted img {
    width: 50%;
  }

  .feature {
    flex-direction: column;
  }

  .columnReverse {
    flex-direction: column-reverse;
  }

  .columnReverse button {
    position: inherit !important;
  }

  .featureContent {
    align-items: center;
    padding: 0;
  }

  .featureContent p {
    margin: 1rem 0;
  }
}

@media screen and (max-width: 650px) {
  .getStarted p {
    height: 200px;
    width: 50%;
  }
}

@media screen and (max-width: 490px) {
  .headerContent h1 {
    font-size: 22px;
  }

  .headerContent p {
    font-size: 12px;
    padding: 0 1rem;
  }

  .getStarted p {
    height: 100%;
    width: 40%;
    font-size: 10px;
  }

  .featureContent h1 {
    font-size: 20px;
  }

  .featureContent p {
    font-size: 12px;
  }

  .thanks {
    padding: 2rem 0;
  }

  .thanks h1 {
    font-size: 22px;
  }
}
